
UpworkParser/.vs/UpworkParser/v16/.suo
*.lock
UpworkParser/.vs/UpworkParser/v16/Server/sqlite3/storage.ide
UpworkParser/.vs/UpworkParser/v16/Server/sqlite3/storage.ide-shm
UpworkParser/.vs/UpworkParser/v16/Server/sqlite3/storage.ide-wal
*.cache
